<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4937b">  <td>24/02/02 11:25:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignInCases.SignInWithCredentials()[pri:2, instance:dWCases.SignInCases@446a1e84]">SignInWithCredentials</td> 
  <td>main@1604247316</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>24/02/02 11:24:54</td>   <td>-33105</td> <td title="&gt;&gt;DWManager.setUp()[pri:0, instance:dWCases.SignInCases@446a1e84]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604247316</td>   <td></td> </tr>
</table>
